{erl_opts, [debug_info]}.
{deps, [
  {ebus, "0.2.2", {pkg, erlbus}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cbomb]}
]}.

{relx, [{release, {cbombserver, "0.0.1"},
         [cbomb]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
